*{
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 20px;
}
body{
  background-color: #353535;
}
p{
  color: #EBEBEB;

}
label{
  color:#EBEBEB;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .progreso {
      overflow: hidden;
      width: 1640px;
      height: 100px;
      -webkit-appearance: none;
      background-color: #8EFF8E;
      box-shadow: none;

    }

    .progreso::-webkit-slider-runnable-track {
      height: 100px;
      width: 100px;
      -webkit-appearance: none;
      color: #FF3838;

    }

    .progreso::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 100px;
      cursor: ew-resize;
      background: #FF3838;

    }

}

/*Cronometro en sí*/
#tiempoText{
  font-size: 400px;
  margin-bottom: 46px;
}
#tutoText{
  opacity: 0.6;
  margin-top: -403px;
  margin-bottom: 10px;
}
/*Desplegables en general*/
.desplegables{
  margin: auto;
  width: 1608px;
  box-shadow: 1px 1px 6px #252525;

}
.intervalos{
  width: 30%;
  float: left;
  margin-right: 5%;

}
.predefinidos{
  width: 30%;
  float: left;
  margin-left: 5%;

}
.apariencia{
  width: 30%;
  float: left;

}

/*Comunes en los desplegables*/
.titulo{
  width: 100%;
  height: 90px;
  background-color:#3C6E71;
  box-shadow: 1px 1px 6px #252525;

}
  .tituloText{
    float: left;
  }
  .tituloText p{
    margin-left: 201px;
    margin-top: 33.5px;
    font-size: 20px;

  }

  .botonCambio{
    margin-top: 17px;
    margin-right: 30px;
    float: right;
    width: 56px;
    height: 56px;
    background-color: #8EFF8E;
    box-shadow: 1px 1px 6px #252525;
    z-index: 2;
  }
  .botonCambio:hover{
    cursor: pointer;
  }

  .botonCambio p{
    margin-top: 19px;
  }

  .botones{
    width: 100%;
    height: 270px;
    background-color: #D9D9D9;
  }


/*Intervalos*/
  .btnMas5,.btnMenos5{
    background-color: #3C6E71;
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 20px;
    box-shadow: 1px 1px 6px #252525;

  }
    .btnMas5 p, .btnMenos5 p{
      margin-top: 38.5px;
    }
    .btnMas5{
      margin-left: 24px;
      margin-right: 24px;
    }

  .rangoSegundosMinutos{
    width: 186px;
    height: 100px;
    background-color: #3C6E71;
    float: right;
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 20px;
  }
    #s{
      float: left;
    }
    #m{
      float: right;
    }
    .rangoSegundosMinutos input{
    width: 100px;
    margin-top: 42px;
    }
  .rangoSegundosMinutos p{
    margin-top: 38.5px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .tiempoCustom{
    width: 436px;
    background-color: #3C6E71;
    height: 100px;
    margin-right: 24px;
    margin-top: 29px;
    float: right;
    box-shadow: 1px 1px 6px #252525;

  }
    .tiempoCustom input{
      margin-top: 36.5px;
    }

    #numberInput{
      font-size: 12px;
      width: 300px;
      height: 23px;
    }

/*Apariencia*/

  .color{
    width: 205px;
    height: 100px;
    background-color: #3C6E71;
    margin-left: 24px;
    margin-top: 20px;
    float: left;
    box-shadow: 1px 1px 6px #252525;

  }
    .color form{
      margin-top: 36.5px;
    }

  #ReiniciarColoresBtn{
    width: 108px;
    margin-top: 17px;
    margin-right: 30px;
    float: right;
    height: 56px;
    background-color: #3C6E71;
    box-shadow: 1px 1px 6px #252525;
  }

/*Predefinidos*/
  .btnTiempo{
    width: 100px;
    height: 100px;
    background-color: #3C6E71;
    float: left;
    margin-left: 17px;
    margin-top: 20px;
    box-shadow: 1px 1px 6px #252525;

  }
    .btnTiempo p{
      margin-top: 38.5px;
    }
