* {
  margin: 0;
  padding: 0;
  color: white;
  z-index: 0;
  position: relative;
  transform-style: preserve-3d;
}

body {
  background: black;
  max-width: 100%;

  overflow-x: hidden;
}

nav {
  float: right;
  margin-right: 40px;
  margin-left: 5px;
  margin-top: 10px;

}

#logoImg {
  width: 300px;
  height: 100px;
}

nav p {
  float: left;
  margin-left: 20px;
  padding: 30px 2px 20px 2px;
  font-size: 20px;
}
nav p:hover {
  color: rgba(255, 255, 255, 0.6);
}
a{
  text-decoration: none;
}
a:hover{
  color: rgba(255, 255, 255, 0.6);
}

.textVerde a {
  color: #59C9A5;
}
.textVerde a:hover {
  color: rgba(89,201,165,0.7);
}

nav p:hover{
  background: rgba(255, 255, 255, 0.15);
}

#header {
  height: 30vh;
  text-align: center;
  margin-top: 280px;
  margin-bottom: 300px;
}

.textVerde {
  color: #59C9A5;
  font-size: 20px;
  padding: 15px;
  text-align: center;

}

.titulito {
  margin-bottom: 10px;
  font-size: 69px;
  margin-left: 20px;
  margin-top: 0;
}

#header h3 {
  font-size: 20px;
}

#primerDiv {
  text-align: center;
}

#primerDiv #text {
    font-size: 30px;
}

 #text p {
  margin: 10px 30px 40px 20px;
}

#primerDiv #img {
  margin: auto;
  width: 600px;
  height: 600px;
  background-size: cover ;
  background: url(../Recursos/devLogo.png) no-repeat center;
}

#tituloSegundoDiv {
  width: 100%;
  margin-top: 150px;
  text-align: center;
}

#historia{
  margin: 50px 120px 100px 120px;
}

#tituloSegundoDiv #img{
  width: 900px;
  height: 500px;
  background: url(../Recursos/Oficina.jpg) no-repeat center;
  background-size: cover;
  margin: auto;
}

.verMasBtn{
  background-color: RGBA(255,255,255,0.12);
  width: 300px;
  height: 60px;
  font-size: 30px;
  border: 0;
  margin: auto;
  text-align: center;
}
.verMasBtn:hover{
  color: rgba(89,201,165,0.7);
}
#verMasBtn:hover{
  color: rgba(89,201,165,0.7);

}
#ultimoDiv{
    margin-top: 70px;
    margin-bottom: 120px;
}
#ultVerMasBtn{
  font-size: 25px;
}
#verMasBtn{
  font-size: 20px;
}

footer{
  height: 10vh;
  background-color: #141414;
  text-align: center;
  vertical-align: middle;
}
footer p {
  margin-bottom: -23px;
  padding-top: 40px;
}

footer .redes {
  float: right;
  margin-right: 20px;
}
footer .redes img{
  float: left;
  margin-left: 10px;
}


.decoracionesRotadas{
  -webkit-transform: rotate(135deg);
  z-index: -1;
  position: absolute;
  top:-310px;

}
.decoraciones{
  z-index: -1;
  width: 3000px;
  height: 125px;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
}
#deco1{
  top: -894px;
  left: -1778px;
}
#deco2{
  top: -1497px;
  left: -1382px;
}
#deco3{
  top: -2323px;
  left: -663px;
}
#deco4{
  top: -2846px;
  left: -592px;
}
