*{
  padding: 0;
  margin: 0;
}
body{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: flex-end;
  text-align: center;
  background-color: #311B21;
  font-family: 'Poppins', sans-serif;

}
input{
  font-family: 'Poppins', sans-serif;

}

.calculadora{
  width: 50%;
  height: 80vh;
  background-color: #F7F4F3;
  margin: auto;
  border-radius: 100px;
  -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}
  .cajaResultado{
    width: 80%;
    height: 9vh;
    background-color: #BA1B1D;
    margin: auto;
    margin-top: 50px;
    border-radius: 100px;

  }


  #resultInput{
    height: 90%;
    width: 80%;
    background-color: #BA1B1D;
    text-align: end;
    border: 0;
    font-size: 40px;
    color: white;
  }

.botonesContainer{
  width: 70%;
  height: 70%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
}
  .botones{
    background-color: #F24333;
    float: left;
    width: 14vh;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
  }

  .botones:hover{
    transform: scale(1.05);
    cursor: pointer;
  }
  .botones:active{
      opacity: 0.9;
  }

  .botones p{
    font-size: 30px;
    color: white;
  }



  #pequeño{
    margin-right: 1px;
  }

  #number{
    background-color:#D31E0D;
  }

    #borrar img{
      width: 70%;
      height: 70%;
    }

.footer{
  width: 100%;
  height: 5vh;
  position: absolute;
  left: 0;
  background-color: #2B2B2B;
  display: flex;
  justify-content: center;
  align-items: center;

}
  .footer p {
    color: white;
    font-size: 20px;
    float: left;
    margin-right: 10px;

  }
  .footer img{
    float: left;
    height: 3vh;
    margin-right: 10px;

  }
  .redes{
    position: absolute;
    right: 0;

  }
