* {
  margin: 0;
  padding: 0;
  color: white;
  z-index: 0;
  position: relative;
  transform-style: preserve-3d;
}

body {
  background: black;
  max-width: 100%;
  overflow-x: hidden;
}

nav {
  float: right;
  margin-right: 40px;
  margin-left: 5px;
  margin-top: 10px;

}

#logoImg {
  width: 300px;
  height: 100px;
}

nav p {
  float: left;
  margin-left: 20px;
  padding: 30px 2px 20px 2px;
  font-size: 20px;
}
nav p:hover {
  color: rgba(255, 255, 255, 0.6);
}

a{
  text-decoration: none;
}
a:hover{
  color: rgba(255, 255, 255, 0.6);
}

.textVerde a {
  color: #59C9A5;
}
.textVerde a:hover {
  color: rgba(89,201,165,0.7);
}

nav p:hover{
  background: rgba(255, 255, 255, 0.15);
}

#header {
  height: 50vh;
  text-align: center;
  margin-top: 280px;
  margin-bottom: 300px;
}

.textVerde {
  color: #59C9A5;
  font-size: 20px;
  padding: 15px;
  text-align: center;
}

.titulito {
  margin-bottom: 30px;
  font-size: 69px;
  margin-left: 20px;
  margin-top: 0;
}

#header h3 {
  font-size: 20px;
}

#contenedor{
  margin-bottom: 200px;
  margin-left: 115px;
  width: 90%;
}

#primerDiv {
  height: 80vh;
  width: 90%;
  text-align: center;
}

#primerDiv #text {
  font-size: 20px;
}

#primerDiv #text p {
  margin: 20px 0px 25px 0px;
}

#primerDiv #img {
  width: 90%;
  height: 70%;
  background-color: #F0D3F7;
  margin-left: 5%;

}

#tituloSegundoDiv {
  width: 100%;
  float: none;
  margin-top: 375px;
  text-align: center;
}

#segundoDiv{
  width: 70%;
  font-size: 17px;
  margin-top: 200px;
  text-align: left;
}
#segundoDiv table{
  border-spacing: 10px;
}
.verde{
  color: #59C9A5;
}

#columnasDiv{
  margin: auto;
  width: 90%;
  height: 50vh;
}

.columna {
  float: left;
  width: 30%;
  text-align: center;
  margin-right: 6.6%;
}
#columnaFormacion{
  width: 20%;
}

.columna input,.columna select, .columna label, .mensajeForm input,.mensajeForm textarea{
  height: 3vh;
  border: 0;
  width: 98%;
  color: #757575;
  margin-top:20px;
  padding-left: 2%;
  background-color: #212121;
  vertical-align: middle;
}
.mensajeForm .input{
  width: 45%;
  float: left;
  margin-right: 10px;
}
.mensajeForm textarea{
  padding: 1%;
  float: left;
  height: 95px;
  width: 892px;
}

.columna select{
  width: 100%;
}
.columna label{
  float: left;
  width: 20%;
}
#fechaNa{
  width: 76%;
  float: right;
}
label p{
  padding-top: 5px;
  color: #757575;
  padding-right: 30px;

}

#btnAnadir{
  height: 4vh;
  margin-top: 20px;
  padding: 0px;
  font-size: 25px;
  padding-top: 8px;
  background-color: #59C9A5;

}
#tituloCol {
  font-size: 33px;
  padding-top: 20px;
  height: 6vh;
  background-color: #59C9A5;
}
.tituloNivel{
  padding-top: 7px;
  font-size: 20px;
  height: 4vh;
  background-color: transparent;
}
.divNivelIngles{
  height: 15vh;
  background-color: #212121;
  margin-top: 20px;
}
.nivelesIngles{
  float: left;
  width: 3vh;
  background-color: #F0D3F7;
  margin-left: 80px;
  margin-top: 10px;
  box-shadow: 0px 0px 10px black;
}
.nivelesIngles:hover{
  cursor: pointer;
}
#nivel1{
  height: 0.5vh;
}
#nivel2{
  height: 2vh;
}
#nivel3{
  height: 4vh;
}
#nivel4{
  height: 6vh;
}
.verMasBtn{
  background-color: RGBA(255,255,255,0.12);
  width: 400px;
  height: 60px;
  border: 0;
  margin: auto;
  text-align: center;
}
.verMasBtn:hover{
  color: rgba(89,201,165,0.7);
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 0.3s;
}
#verMasBtn:hover{
  color: rgba(89,201,165,0.7);
  transform: scale(1.1);
  transition-duration: 0.3s;
}
#ultimoDiv{
    margin-top: 177px;
    margin-bottom:20px;
}
#verMasBtn{
  font-size: 25px;
  padding-top: 16px;
}
#formTerminar{
  height: 10vh;
  width: 400px;
  margin: auto;
}
#formTerminar input, .mensajeForm input[type=submit]{
  height: 5vh;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  background-color: RGBA(255,255,255,0.12);
  color: #59C9A5;
  border: 0px;
  font-size: 17px;
}
.mensajeForm input[type=submit]{
  float: none;
  width: 15%;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
}
.mensajeForm{
  text-align: center;
}

#formTerminar input:hover, .mensajeForm input[type=submit]:hover{
  color: rgba(89,201,165,0.7);
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 0.3s;
}

footer{
  width: 100%;
  height: 10vh;
  background-color: #141414;
  text-align: center;
  vertical-align: middle;
}
footer p {
  margin-bottom: -23px;
  padding-top: 40px;
}

footer .redes {
  float: right;
  margin-right: 20px;
}
footer .redes img{
  float: left;
  margin-left: 10px;
}


.decoracionesRotadas{
  -webkit-transform: rotate(135deg);
  z-index: -1;
  position: absolute;
  top:-310px;

}
.decoraciones{
  z-index: -1;
  width: 3000px;
  height: 125px;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
}
#deco1{
  top: -894px;
  left: -1778px;
}
#deco2{
  top: -1497px;
  left: -1382px;
}
#deco3{
  top: -2323px;
  left: -663px;
}
#deco4{
  top: -2846px;
  left: -592px;
}
