* {
  margin: 0;
  padding: 0;
  color: white;
  z-index: 0;
  position: relative;
  transform-style: preserve-3d;
}

body {
  background: black;
  max-width: 100%;

  overflow-x: hidden;
}

nav {
  float: right;
  margin-right: 40px;
  margin-left: 5px;
  margin-top: 10px;

}

#logoImg {
  width: 300px;
  height: 100px;
}

nav p {
  float: left;
  margin-left: 20px;
  padding: 30px 2px 20px 2px;
  font-size: 20px;
}
nav p:hover {
  color: rgba(255, 255, 255, 0.6);
}

a{
  text-decoration: none;
}
a:hover{
  color: rgba(255, 255, 255, 0.6);
}

.textVerde a {
  color: #59C9A5;
}
.textVerde a:hover {
  color: rgba(89,201,165,0.7);
}

nav p:hover{
  background: rgba(255, 255, 255, 0.15);
}

#header {
  height: 50vh;
  text-align: center;
  margin-top: 280px;
  margin-bottom: 300px;
}

.textVerde {
  color: #59C9A5;
  font-size: 20px;
  text-align: center;
  padding: 15px;
}

.titulito {
  margin-bottom: 10px;
  font-size: 69px;
  margin-left: 20px;
  margin-top: 0;
}

#header h3 {
  font-size: 20px;
}

#primerDiv {
  height: 40vh;
}



#tituloSegundoDiv {
  width: 100%;
  float: none;
  margin-top: 150px;
  text-align: center;
}

table {
  height: 200vh;
  width: 90%;
  margin: auto;
  margin-top: 200px;
  border: 0;
}

table td {
  width: 50%;
  vertical-align: top;
  border: 0;
  text-align: center;
}

table .img img{
  height: 100%;
  margin-right: 72px;
}

table .img {
  background: url(../Recursos/CapturaDevo.png) no-repeat left;
  background-size: cover;
}
table #ImgRotadaCrono{
  background: url(../Recursos/CapturaCrono.png) no-repeat right;
  background-size: cover;
}
table #ImgRotadaCronoWeb{
  background: url(../Recursos/CapturaCronoWeb.png) no-repeat right;
  background-size: cover;
}

#imgSpaceReach{
  background: url(../Recursos/CapturaSpaceReach.png) no-repeat left, url(../Recursos/CapturaSpaceReach2.png) no-repeat center,url(../Recursos/CapturaSpaceReach3.png) no-repeat right;
}

.descApp{
  margin: 30px 100px 150px 100px;
  font-size: 20px;
}

.tituloApp {
  font-size: 60px;
  margin: auto;
  margin-top: 20px;
}

.verMasBtn:hover{
  color: rgba(89,201,165,0.7);

}

.verMasBtn{
  background-color: RGBA(255,255,255,0.12);
  width: 400px;
  height: 60px;
  border: 0;
  margin: auto;
  text-align: center;
}
.verMasBtn:hover{
  color: rgba(89,201,165,0.7);
}
#verMasBtn:hover{
  color: rgba(89,201,165,0.7);

}
#ultimoDiv{
    margin-top: 70px;
    margin-bottom: 120px;
}
#ultVerMasBtn{
  font-size: 25px;
}
#verMasBtn{
  font-size: 25px;
}

footer{
  height: 10vh;
  background-color: #141414;
  text-align: center;
  vertical-align: middle;
}
footer p {
  margin-bottom: -23px;
  padding-top: 40px;
}

footer .redes {
  float: right;
  margin-right: 20px;
}
footer .redes img{
  float: left;
  margin-left: 10px;
}


.decoracionesRotadas{
  -webkit-transform: rotate(135deg);
  z-index: -1;
  position: absolute;
  top:-310px;

}
.decoraciones{
  z-index: -1;
  width: 3000px;
  height: 125px;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
}
#deco1{
  top: -894px;
  left: -1778px;
}
#deco2{
  top: -1497px;
  left: -1382px;
}
#deco3{
  top: -2323px;
  left: -663px;
}
#deco4{
  top: -2846px;
  left: -592px;
}
